/* Hero Section */
.hero {
    height: 100vh; /* Hero ocupa toda la pantalla */
    background: linear-gradient(135deg, #2e343b, #212529); /* Fondo oscuro */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
}

.hero .btn {
    background-color: #28a745; /* Verde para botones */
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.hero .btn:hover {
    background-color: #218838; /* Verde oscuro en hover */
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
}

/* Timeline Section */
.timeline {
    list-style: none;
    padding-left: 0;
    position: relative;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}

.timeline-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    color: #28a745;
}

.timeline-content {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

/* Animaciones */
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos="fade-up"] {
    opacity: 0;
    animation: fadeUp 1s forwards;
}

.slick-carousel .project-item {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.slick-carousel .project-item:hover {
    transform: translateY(-10px);
}

/* Contact Section */
#contacto {
    background-color: #212529;
}

